.zr-contextmenu {
	position: fixed;
	padding: 5px 0;
	margin: 0;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	box-shadow: 2px 2px 8px 0px rgba(150, 150, 150, 0.2);
	list-style: none;
	font-size: 14px;
	white-space: nowrap;
	cursor: pointer;
	z-index: 2800;
	-webkit-tap-highlight-color: transparent;

	&-item {
		padding: 5px 14px;
		line-height: 1;
		color: #737373;

		&--disabled {
			color: #ccc;
			background-color: inherit;
		}

		&:hover {
			background-color: #46a0fc;
			color: #fff;
		}
	}
}

.zr-table__head {
	padding: 0 5px; // background: $box-head-bg;
	height: 51px;
	line-height: 51px;

	// border: {
	//   bottom: $box-head-bor;
	// }

	.zr-input__2 {
		width: 150px;
		width: 150px;
		display: inline-block;
	}

	.z-txtrig {
		.el-button--text {
			color: #737373;
			display: inline-block;
		}

		.el-dropdown {
			margin-left: 10px;
		}
	}
}

.zr-table {
	// .cell {
	// 	font-size: 14px !important;
	// }

	&.zr-table__abs {
		position: absolute;
		top: 38px;
		left: 10px;
		right: 10px;
		bottom: 0;
	}

	.zr-table__line {
		background-color: #f2f2f2;
	}

	.el-table__expanded-cell[class*='cell'] {
		padding: 20px 15px;
	}

	.el-table__fixed-right-patch {
		z-index: 2;
	}
}

/* 可编辑表格 */

.zr-table {
	user-select: none;

	.el-table__header-wrapper {
		position: relative;
		z-index: 2;
	}

	&.zr-table-fullitem.zr-table__last {
		.el-table__body-wrapper {

			// padding-bottom: 15px;
			tbody {
				tr:last-child {
					.el-form-item__error {
						position: absolute;
						top: 100%;
						margin-top: -15px;
						pointer-events: none;
					}
				}
			}
		}
	}

	.edit__top,
	.edit__bottom,
	.edit__left,
	.edit__right {
		background: #409dfe;
		position: absolute;
		z-index: 1;
	}

	.edit__top,
	.edit__bottom {
		height: 2px;
	}

	.edit__left,
	.edit__right {
		width: 2px;
	}

	&.zr-table-fullitem {
		.header__edit th {
			padding: 0;

			.head-input_edit {
				display: inline-block;
			}

			.cell {
				// padding: 0;
				line-height: normal;
			}

			.el-input {
				padding: 0;

				.el-input__inner {
					padding: 0;
					border: none;
					border-radius: 0;
				}
			}
		}
	}

	.zr-table__edit {
		$overflow: inherit; // overflow: $overflow;

		.el-table__body-wrapper {
			// overflow: $overflow;
			padding-bottom: 10px;
		}

		.not-edit {
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 10;
				left: 0;
				cursor: not-allowed;
			}
		}

		.cell {
			overflow: $overflow;

			.el-form-item {
				margin: 0;
				width: 100%;

				.el-form-item__content {
					line-height: normal;
					width: 100%;
				}
			}

			.el-form-item__error {
				z-index: 1;
			}
		}

		.el-input,
		.el-input-number,
		.el-select {
			display: none;
			width: 100%;
		}

		&.current-row {
			// td {
			// 	height: auto;
			// 	padding: 0;
			// }

			// .cell {
			// 	padding: 0 !important;
			// 	text-align: center;
			// }

			.el-input,
			.el-input-number,
			.el-select {
				display: inherit;

				// .el-input__inner {
				// 	border: none;
				// 	border-radius: 0;
				// }

				&+span {
					display: none;
				}
			}

			.zr-table__edit-checkbox,
			.el-color-picker {
				display: initial;
			}
		}

		&.not-click-edit {
			@extend .current-row;
		}
	}

	&.zr-table-fullitem {
		.zr-table__edit {

			&.current-row {
				td {
					height: auto;
					padding: 0;
				}

				.cell {
					padding: 0 !important;
					text-align: center;
				}

				.el-input,
				.el-input-number,
				.el-select {
					display: inherit;

					.el-input__inner {
						border: none;
						border-radius: 0;
					}

					&+span {
						display: none;
					}
				}

				.zr-table__edit-checkbox,
				.el-color-picker {
					display: initial;
				}
			}
		}
	}
}